.navbar{
  width: 30%;
  height:10%;
  background-color: rgba(240, 248, 255, 0.514);
  margin-top: 2.5vh;
  border-radius: 20px;
  position: fixed;
  display: flex;
  justify-content:center;
  align-items: center;
}
 .groupa img{
  position:fixed;
  margin-left:1%;
  margin-top:-1%;
  float: left;
  height:20vh;
  width: 20vh;
}
.navbar .gorupb a{
float: right;
text-decoration: none;
color: white;
font-size: 3vh;
padding:4vh 4vh;
text-transform: capitalize;
font-family: Verdana, Geneva, Tahoma, sans-serif;
border-radius: 20px;
transition: 1s ease-in-out;
font-weight: 900;
}
.navbar .gorupb a:hover{
color: black;
}
